{% extends 'common.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
{{error}}

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
{{error1}}

        <button type="submit" class="btn btn-success w-100">Login</button>
    </form>
    <div class="mt-3 text-center">
        <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
    </div>
</div>
{% endblock %}
