{% extends 'common.html' %}
{% load static %}


{% block css %}
      <link rel="stylesheet" href="{% static 'css/village_life.css' %}">
{% endblock css %}

{% block title %}Village Life{% endblock %}

{% block content %}

<div class="container">
  
  <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 300px;">
       हरियाली की चादर ओढ़े, मुस्कुराती है गाँव की सुबह,
       कोयल की कूक संग, जीवन में घुलती है नयी उमंग।
      </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/morning gaon1.avif' %}" alt="Village Life" style="width: 100%; height: 300px; object-fit: cover;" />
    </div>
  </div>

  <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 300px;">
      गाँव की पवित्र भूमि पर, हो हर दिल में भक्ति का रंग,
      सभी भक्तों के दिलों में, श्री राधे का वास हो संग।
     </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/pooja gaon1.jpg' %}" alt="Village Life" style="width: 100%; height: 300px; object-fit: cover;" />
    </div>
  </div>

  <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 400px;">
      🌿स्वच्छता से गाँव हमारा, सुंदर बने हर द्वार,
      सभी मिलकर करें सफाई, यही है सबका प्यार।🌿
      </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/safai_gaon1.jpg' %}" alt="Village Life" style="width: 100%; height: 400px; object-fit: cover;" />
    </div>
  </div>

  <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 400px;">
        🌾धरती की गोदी में हल चलाकर, बढ़ाएंगे हम खुशहाली,
        किसानी का सूरज चमकाएगा, हर खेत में होगी समृद्धि की बाली।
      </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/khet_kaam1.jpg' %}" alt="Village Life" style="width: 100%; height: 400px; object-fit: cover;" />
    </div>
  </div>


  <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 300px;">
      गांव की पंचायत ही है शक्ति का स्रोत,
      समाज को जोड़ने का यही है मुख्य रास्ता।
      </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/panchayat.jpg' %}" alt="Village Life" style="width: 100%; height: 300px; object-fit: cover;" />
    </div>
  </div>
  {% comment %} <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 400px;">
      Morning gaon
      </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/safai_gaon1.jpg' %}" alt="Village Life" style="width: 100%; height: 400px; object-fit: cover;" />
    </div>
  </div> {% endcomment %}
  <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 300px;">
    🌅 शाम ढले पक्षियों की चहचहाहट,
      आसमान में फैलती है शांति की रत।
      </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/paksi_gaon1.jpg' %}" alt="Village Life" style="width: 100%; height: 300px; object-fit: cover;" />
    </div>
  </div>
  <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 300px;">
    🌇सूरज की किरणें धीरे-धीरे खो जाती हैं,
      शाम के आंचल में रंग बिखर जाते हैं।
      </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/sunset gaon1.jpg' %}" alt="Village Life" style="width: 100%; height: 300px; object-fit: cover;" />
    </div>
  </div>
  <div class="row mb-4 align-items-center">
    <div class="col-md-3">
      <div class="list-group-item d-flex justify-content-center align-items-center" style="height: 400px;">
    🌙 चाँदनी रात में नींद की नर्म चादर,
        सपनों के सफर पे निकल पड़ते हैं हम।
      </div>
    </div>
    <div class="col-md-9">
      <img src="{% static 'img/sleep_gaon 1.avif' %}" alt="Village Life" style="width: 100%; height: 400px; object-fit: cover;" />
    </div>
  </div>

</div>

{% endblock %}
